:root {
  --layer1: #93e1d8;
  --layer1: #403d39;
  --layer2: #f8968e;
  --layer2: #2288ff;
  --layer2: rgba(0, 0, 33, 0.66);
  --layer3: #333333;
}

@font-face {
  font-family: "Menlo";
  src: url(./fonts/Menlo-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Menlo", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: auto;
  flex-grow: inherit;
  background-color: var(--layer3);
  padding: 1em 1em 5em;
}

.main {
  color: white;
  flex: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
}

/* News Feed */
.Feed {
  cursor: default;
  border-radius: 25px;
  /*background-color: var(--layer1);*/
  background-image: linear-gradient(to right, #e052a0, #f15c41) !important;
  color: #fff;
  padding: 1em;
  margin: 1em;
  /*max-width: 60%;*/
  text-align: center;
}

.headline {
  background-color: var(--layer2);
  padding: 0.5em;
  border-radius: 25px;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.header-padding {
  padding-top: 1em;
}

/* Currency Converter */
.CurrencyConverter {
  background-image: linear-gradient(to right, #e052a0, #f15c41) !important;
  color: #fff;
  cursor: default;
  border-radius: 25px;
  padding: 0.1em;
  margin: 0.2em;
  text-align: center;
  background-color: var(--layer1);
}

.CurrencyConverterTable {
  background-color: var(--layer2);
  border-radius: 10px;
  padding: 0.1em;
  margin: 0.5em;
}

.ExchangeRate {
  background-color: var(--layer2);
  border-radius: 10px;
  padding: 0.1em;
  margin: 1em;
}

/* Stock Ticker */
.Ticker {
  background-image: linear-gradient(to right, #e052a0, #f15c41) !important;
  color: #fff;
  cursor: default;
  border-radius: 25px;
  background-color: var(--layer1);
  padding: 1em;
  margin: 0.2em;
  text-align: center;
}

.ticker-element {
  padding: 0.1em;
  margin: 0;
}

/* Footer */
.Footer {
  color: whitesmoke;
  background-color: var(--layer2);
}

/* Tweaks */
.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pointerEventsNone {
  pointer-events: none;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:link,
a:visited {
  border-radius: 0.2em;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em;
}

img {
  max-width: 100%;
}

a:hover,
a:active {
  /*background-color: rgba(44, 22, 444, 40);*/
  background-color: rgba(219, 219, 219, 0.24);
  border-radius: 1em;
  /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

/* Animations */
/*.animate.fade {*/
/*  animation-name: animate-fade;*/
/*  !*animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);*!*/
/*  animation-duration: 1s;*/
/*}*/

/*@keyframes animate-fade {*/
/*  0% {*/
/*    opacity: 0;*/
/*    pointer-events:none;*/
/*  }*/
/*  100% {*/
/*    transition: opacity 0.5s;*/
/*    opacity: 1;*/
/*  }*/

/*}*/

button {
  /*display: inline-block;*/

  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #ff4742;
  background: 0 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0.5em 0.5em 0.5em;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
}

button:hover {
  background-color: #ff4742;
  color: #fff;
}

input {
  /*padding: 5px 12px;*/
  /*font-size: 14px;*/
  /*line-height: 20px;*/
  color: #24292e;
  /*vertical-align: middle;*/
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

input:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

select {
  margin: 0.5em 0.5em 0.5em 0.5em;
  /*padding: 5px 12px;*/
  /*font-size: 14px;*/
  /*line-height: 20px;*/
  color: #24292e;
  /*vertical-align: middle;*/
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}
select:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.amountToConvertFrom {
  width: 7em;
}
