:root {
  --layer1: #93e1d8;
  --layer2: #f8968e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticker-element{
  padding: .1em;
  margin: 0;
}
a:link,
a:visited {
  border-radius: 0.2em;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em;
}

img {
  max-width: 100%;
}

a:hover,
a:active {
  /*background-color: rgba(44, 22, 444, 40);*/
  background-color: rgba(219, 219, 219, 0.24);
  border-radius: 1em;
  /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: auto;
  flex-grow: inherit;
  background-color: #ddfff7;
  padding: 1em 1em 5em;

}

.pointerEventsNone{
  pointer-events: none;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**/
.main {
  color:white;
  flex: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;

}

.Feed {
  cursor: default;
  border-radius: 25px;
  background-color:var(--layer1);
  padding: 1em;
  margin: 1em;
  /*max-width: 60%;*/
  text-align: center;
}

.headline {
  background-color: var(--layer2);
  padding: 0.5em;
  border-radius: 25px;
  margin-bottom: 0.25em;
  margin-top: .25em;
}

.CurrencyConverter {
  cursor: default;
  border-radius: 25px;
  padding: .1em;
  margin: .2em;
  text-align: center;
  background-color: var(--layer1);
}

.CurrencyConverterTable {
  background-color: var(--layer2);
  border-radius: 10px;
  padding: .1em;
  margin: .5em;
}

.ExchangeRate {
  background-color: var(--layer2);
  border-radius: 10px;
  padding: .1em;
  margin: 1em;
}

.Ticker {
  cursor: default;
  border-radius: 25px;
  background-color: var(--layer1);
  padding: 1em;
  margin: .2em;
  text-align: center;
}

.Footer {
  color: whitesmoke;
  background-color: darkslategray;

}





/* style tweaks*/
.nohlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/*.animate.fade {*/
/*  animation-name: animate-fade;*/
/*  !*animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);*!*/
/*  animation-duration: 1s;*/
/*}*/

/*@keyframes animate-fade {*/
/*  0% {*/
/*    opacity: 0;*/
/*    pointer-events:none;*/
/*  }*/
/*  100% {*/
/*    transition: opacity 0.5s;*/
/*    opacity: 1;*/
/*  }*/


/*}*/
